@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

.main {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 1300px !important;
    height: 90vh;
}

.title-container {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.title-container h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

.select-container {
    display: flex;
    align-items: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.select-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    height: 460px;
    width: 600px;
    cursor: pointer;
}

.select-container > div:hover {
    background-color: rgb(50, 50, 50);
}

.select-container img {
    width: 500px;
    margin: 5px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.login-container h1 {
    font-size: 55px;
}

.login-container > form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.write-diary-container, .read-diary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 1000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.write-diary-container textarea, .write-diary-container input {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
}

.write-diary-container button {
    float: right;
    margin-top: 15px;
    padding: 5px;
    width: 150px;
    font-size: 18px;
}

.read-diary-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.read-diary-container .card {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 10px;
}

.back-button {
    text-decoration: none;
    align-self: self-start;
    margin: 10px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: rgb(255, 255, 255);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
    font-size: 20px;
    margin-top: 200px;
}